body{
    text-align: center;
    background-color: aquamarine;
}
h1{
    font-size: 3rem;
    margin-top: 50px;
    color:blue;
}
input{
    margin-top: 40px;
    height:40px;
    width:50%;
    border-radius: 8px;
}
select{
    height:30px;
    border-radius: 8px;
}
